.pack-info {
    color: white;
    background-color: darkslategray;
    height: 100%;
}

.pack-not-found {
    color: red;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    margin-bottom: 20px;
    padding-top: 28px;
}

.carousel-btns {
    display: flex;
}

.carousel-btn {
    background: rgba(0, 0, 0, 0.6);
    font-family: "Minecraft";
    color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 2;
    transition: background 0.2s;
}

.carousel-btn.left {
    margin-right: auto;
    margin-left: 12px;
}

.carousel-btn.right {
    margin-left: auto;
    margin-right: 12px;
}

.carousel-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.carousel-img {
    width: 100%;
    height: auto;
}

.pack-desc {
    text-align: center;
    padding: 20px 0;
}

.download {
    height: 100%;
    padding-bottom: ;
}

.download a {
    text-decoration: none;
    height: 52px;
    margin: 0 20px;
}