.pack-info {
    display: flex;
    flex-direction: row;
}

.carousel {
    display: flex;
    gap: 1em;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
}

.carousel::scroll-button(right), .carousel::scroll-button(left) {
    content: ">";
    border: none;
    background: white;
    font-family: "Minecraft";
    opacity: 1;
    width: 134px;
    height: 28px;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    right: 0;
    transform: translateY(225px);
}

.carousel::scroll-button(left) {
    content: "<";
    left: 0;
}

.carousel-image {
    width: 100%;
    height: auto;
}

.carousel-card {
    flex: 0 0 100%;
    width: 100%;
    height: auto;
    max-width: 400px;
    scroll-snap-align: start;
}