.pack-info {
    display: flex;
    flex-direction: column;
}

.carousel {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    background-color: red;
    padding-top: 1rem;
    flex-direction: column;
    align-items: center;
}

.carousel-buttons {
    display: flex;
    width: 100%;
    padding: 22px 16px 0 16px;
}

.carousel-left, .carousel-right {
    width: 48px;
    height: 48px;
    background-color: white;
    display: block;
}

.carousel-spacer {
    width: 100%;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-image {
    width: 100%;
    max-width: 440px;
}